In [68]:
# READ THIS
# THIS FILE IS A MESS OF NETA"S PRACTICE CODE!! IGNORE!! DO NOT USE!!!!!!!!





# a file to practice getting map input (click or input address), and getting census tract and GEOID out
# will need to run this in another .py file, but easier to see here in .ipynb

In [2]:
# can try geocodio
# https://www.geocod.io/docs/?python#introduction

In [34]:
# can try censusgeocode
# https://pypi.org/project/censusgeocode/

import censusgeocode as cg

# a function to get the census tract from a coordinate pair
def getcensus(lat, long):
    geocode_result_fromcoord = cg.coordinates(lat, long)
    ct_full = geocode_result_fromcoord.get('Census Tracts')[0]
    ct = ct_full.get('GEOID')
    return ct

getcensus(-76.58542, 39.293507)

'24510060300'

In [66]:
#cg.onelineaddress('1600 Pennsylvania Avenue, Washington, DC', returntype='locations')
#cg.address('1600 Pennsylvania Avenue', city='Washington', state='DC', zipcode = 20003, returntype = 'locations')

# a function to get a coordinate pair from an address
def getcoord(street, city, state, zipcode):
    geocode_result_fromaddress = cg.address(street, city = city, state = state, zipcode = zipcode, returntype = 'locations')[0]
    coords_full = geocode_result_fromaddress.get('coordinates') 
    lat = coords_full.get('y')
    long = coords_full.get('x')
    return lat, long

getcoord('1600 Pennsylvania Avenue', 'Washington', 'DC', '20003')
netasplace = getcoord('2225 E Lamley St', 'Baltimore', 'MD', '21231')
netasplace

(39.293507, -76.58542)

In [67]:
getcensus(netasplace[0], netasplace[1]) # to get ct from address

TypeError: 'NoneType' object is not subscriptable

In [50]:
# dataframe?

import pandas as pd
temp = ('-76', '34')
temp_df = pd.DataFrame(temp).swapaxes("index", "columns")
temp_df

     0   1
0  -76  34

In [62]:
coord_tuple = getcoord('1600 Pennsylvania Avenue', 'Washington', 'DC', '20003')
location_df = pd.DataFrame(coord_tuple, index = ['lon', 'lat']).swapaxes("index", "columns")
location_df

        lon       lat
0 -76.98351  38.87963

In [60]:
import numpy as np
df = pd.DataFrame(
     np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4],
     columns=['lat', 'lon'])
df

           lat         lon
0    37.773914 -122.420562
1    37.728340 -122.401221
2    37.775084 -122.414657
3    37.784085 -122.389620
4    37.765259 -122.382652
..         ...         ...
995  37.761707 -122.403968
996  37.789970 -122.417599
997  37.771805 -122.413795
998  37.737355 -122.415038
999  37.763836 -122.377420

[1000 rows x 2 columns]